[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ludwig = "*"
pandas = "*"
streamlit = "*"
nltk = "*"
glob2 = "*"

[dev-packages]

[requires]
python_version = "2.7"
